@font-face {
  font-family: 'SAOUI';
  src: url("https://cdn.jsdelivr.net/npm/akilar-candyassets/fonts/SAOUI.ttf");
  font-display: swap;
}
#fMessageBoard {
  font-size: 20px;
  background: rgba(249,249,249,0.8);
  color: rgba(60,60,61,0.7);
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 2px 2px 10px #888;
  font-family: 'SAOUI' !important;
  width: 90%;
  max-width: 810px;
  margin: auto;
  height: 260px;
  overflow: hidden;
}
#fMessageBoard .fUpdatedTime {
  text-align: center;
  height: 40px;
}
#fMessageBoard .fMessageItem {
  background: rgba(207,207,207,0.8);
  box-shadow: 0px 0px 15px #bcbcbc inset;
}
#fMessageBoard .fMessageItem .fItem {
  height: 60px;
  background: transparent;
  display: flex;
}
#fMessageBoard .fMessageItem .fItem .fLabel {
  padding: 0 3%;
  align-self: center;
  text-align: center;
  width: 25%;
  overflow: hidden;
}
#fMessageBoard .fMessageItem .fItem .fMeasureBar {
  align-self: center;
  text-align: center;
  height: 20px;
  width: 50%;
  display: block;
  background: rgba(117,117,117,0.6);
  border-radius: 5px;
  overflow: hidden;
  display: block;
  box-shadow: 2px 2px 5px rgba(21,21,21,0.6);
}
#fMessageBoard .fMessageItem .fItem .fMeasureBar .fMeasure {
  display: block;
  height: 20px;
  text-align: center;
  font-size: 12px;
}
#fMessageBoard .fMessageItem .fItem .fMessage {
  align-self: center;
  text-align: center;
  padding: 0 3%;
  width: 25%;
}
#fMessageBoard #switchRankBtn {
  width: auto;
  max-width: 250px;
  height: 40px;
  display: flex;
  text-align: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}
#fMessageBoard #switchRankBtn #rankByCreated {
  font-size: 20px;
  height: 30px;
  width: 80px;
  display: inline-block;
  padding: 2px 5px;
}
#fMessageBoard #switchRankBtn #rankByUpdated {
  font-size: 20px;
  height: 30px;
  width: 80px;
  display: inline-block;
  padding: 2px 5px;
}
#fMessageBoard #switchRankBtn input#switchRankMode[type=checkbox] {
  display: none;
}
#fMessageBoard #switchRankBtn label#switchRank {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  margin: 15px 0px;
  background: #3a8ec4;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}
#fMessageBoard #switchRankBtn label#switchRank:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 8px;
  transition: 0.3s;
}
#fMessageBoard #switchRankBtn label#switchRank:active:after {
  width: 50px;
}
#fMessageBoard #switchRankBtn input#switchRankMode:checked + label {
  background: #d8653e;
}
#fMessageBoard #switchRankBtn input#switchRankMode:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
#fcircleMoreBtn {
  width: 90%;
  max-width: 810px;
  height: 30px;
  margin: auto;
  background: rgba(249,249,249,0.8);
  color: rgba(60,60,61,0.7);
  box-shadow: 2px 2px 10px #888;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#fcircleContainer {
  font-family: 'SAOUI' !important;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: auto;
}
#fcircleContainer a {
  text-decoration: none;
}
#fcircleContainer a:hover {
  text-decoration: none !important;
}
#fcircleContainer .fArticleItem {
  margin: 20px 5%;
  height: 150px;
  display: flex;
  background: rgba(249,249,249,0.8);
  color: rgba(60,60,61,0.7);
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 2px 2px 10px #888;
  overflow: hidden;
}
#fcircleContainer .fArticleItem .fArticleAvatar {
  width: 30%;
  display: flex;
  flex-direction: column;
}
#fcircleContainer .fArticleItem .fArticleAvatar .fAvatar {
  align-self: center;
  text-align: center;
}
#fcircleContainer .fArticleItem .fArticleAvatar .fAvatar img {
  width: 75px;
  height: 75px;
  margin: 15px 5px !important;
  border-radius: 25px;
}
#fcircleContainer .fArticleItem .fArticleAvatar .fAvatar .img-alt.is-center {
  display: none;
}
#fcircleContainer .fArticleItem .fArticleAvatar .fArticleAuthor {
  width: 80%;
  margin: 3px 0px;
  align-self: center;
  text-align: center;
  transform: skewX(-10deg);
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#fcircleContainer .fArticleItem .fArticleMessage {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle {
  align-self: center;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  width: 80%;
  padding: 0 10%;
  color: rgba(60,60,61,0.7);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle:hover:before {
  position: fixed;
  width: fit-content;
  max-width: 80%;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
  content: attr(data-title);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background-color: rgba(60,60,61,0.7);
  white-space: break-spaces;
}
#fcircleContainer .fArticleItem .fArticleMessage .fArticleTime {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
}
#fcircleContainer .fArticleItem .fArticleMessage .fArticleTime .fArticleCreated {
  width: 40%;
  margin: 5% 0% 5% 10%;
  text-align: center;
  align-self: center;
  padding: 15px 0;
}
#fcircleContainer .fArticleItem .fArticleMessage .fArticleTime .fArticleUpdated {
  width: 40%;
  margin: 5% 10% 5% 0%;
  text-align: center;
  align-self: center;
  padding: 15px 0;
}
#fcircleContainer .fArticleItem .fArticleMessage .fArticleTime i:before {
  margin-right: 5px;
}
@media screen and (max-width: 768px) {
  #fMessageBoard {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  #fcircleContainer .fArticleItem .fArticleMessage .fArticleTime i {
    display: none;
  }
  #fMessageBoard {
    font-size: 12px;
  }
  #fMessageBoard #switchRankBtn #rankByCreated {
    font-size: 12px;
  }
  #fMessageBoard #switchRankBtn #rankByUpdated {
    font-size: 12px;
  }
  #fcircleContainer .fArticleItem .fArticleAvatar {
    display: none;
  }
  #fcircleContainer .fArticleItem .fArticleMessage {
    width: 100%;
  }
  #fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle:hover:before {
    font-size: 16px;
  }
}
@media screen and (max-width: 300px) {
  #fMessageBoard .fUpdatedTime span.fLabel {
    display: none;
  }
  #fMessageBoard .fMessageItem .fItem .fLabel {
    width: 50%;
  }
  #fMessageBoard .fMessageItem .fItem meter.fMeasureBar {
    display: none;
  }
  #fMessageBoard .fMessageItem .fItem .fMessage {
    width: 50%;
  }
  #fMessageBoard span#rankByCreated {
    display: none !important;
  }
  #fMessageBoard span#rankByUpdated {
    display: none !important;
  }
}
[data-theme="dark"] #fMessageBoard {
  background: rgba(21,21,21,0.7);
  color: rgba(249,249,249,0.8);
  box-shadow: 0px 0px 5px rgba(102,218,215,0.5);
}
[data-theme="dark"] #fMessageBoard .fMessageItem {
  background: rgba(21,21,21,0.7);
  box-shadow: 0px 0px 5px rgba(222,221,174,0.5) inset;
}
[data-theme="dark"] #fMessageBoard #switchRankBtn input#switchRankMode[type=checkbox] {
  display: none;
}
[data-theme="dark"] #fMessageBoard #switchRankBtn label#switchRank {
  background: #3a8ec4;
}
[data-theme="dark"] #fMessageBoard #switchRankBtn label#switchRank:after {
  background: rgba(21,21,21,0.7);
}
[data-theme="dark"] #fMessageBoard #switchRankBtn input#switchRankMode:checked + label {
  background: #d8653e;
}
[data-theme="dark"] #fcircleMoreBtn {
  background: rgba(21,21,21,0.7);
  color: rgba(249,249,249,0.8);
  box-shadow: 2px 2px 5px rgba(102,218,215,0.5);
}
[data-theme="dark"] #fcircleMoreBtn:hover {
  box-shadow: 0px 0px 2px rgba(102,218,215,0.5);
}
[data-theme="dark"] #fcircleContainer .fArticleItem {
  background: rgba(21,21,21,0.7);
  color: rgba(249,249,249,0.8);
  box-shadow: 2px 2px 5px rgba(102,218,215,0.5);
}
[data-theme="dark"] #fcircleContainer .fArticleItem:hover {
  box-shadow: 0px 0px 2px rgba(102,218,215,0.5);
}
[data-theme="dark"] #fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle {
  color: rgba(249,249,249,0.8);
}
[data-theme="dark"] #fcircleContainer .fArticleItem .fArticleMessage a.fArticleTitle:hover:before {
  color: rgba(60,60,61,0.7);
  background-color: rgba(249,249,249,0.8);
}
